.container{style: 'padding-top: 150px !important;'}
  .row
    .col-md-4
      .text-center.m-b-md
        %h3 REALIZAR ACESSO
        %small This is the best app ever!
      .hpanel
        .panel-body
          = render 'form'
    .col-md-8
      .text-center.m-b-md
        %h3 REALIZAR MEU CADASTRO
        %small This is the best app ever!
      .hpanel
        .panel-body
    .row
      .col-md-12.text-center
        %strong HOMER
        \- AngularJS Responsive WebApp
        %br/
        2015 Copyright Company Name