<!DOCTYPE html>
<html>
<head>
  <title>Study</title>
  <%= stylesheet_link_tag    "study/application", media: "all" %>
  <%= javascript_include_tag "study/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
