<!DOCTYPE html>
<html>
<head>
  <title>Administrator</title>
  <%= stylesheet_link_tag    "administrator/application", media: "all" %>
  <%= javascript_include_tag "administrator/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
