.row
  .col-lg-12.text-center.m-t-md
    %h2
      Criando uma nova categoria
.content.animate-panel
  .row
    .col-md-12
      .hpanel.form-article
        .panel-body
          .tab-content
            #note1.tab-pane.active
              = render 'form'
           